.App h1 {
  text-align: center;
}

div.Navbar {
  background-color: rgb(19, 33, 226);
  padding: 15px;
  font-size: 30px;
}
div.Navbar h3 {
color:rgb(255, 0,0 );
margin: 0;
}

.Dashboard {
  background-color:rgb(198, 230, 172);
  width: 40%;
  margin-left: 30%;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.Card {
  background-color:rgb(224, 176, 212);
  width: 30%;
  padding: 20px;
  margin: 10px;
}
.card-container {
  display: flex;
}